<a href="https://colab.research.google.com/github/cesaralejon/sales-predictions/blob/main/Proyecto1_Parte2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Proyecto
Continuaremos trabajando con el repositorio GitHub que creaste la semana pasada para tu primer proyecto de portafolio. El objetivo de tus proyectos de portafolio es tener elementos para mostrarle a potenciales empleadores que demuestren tus habilidades y competencias en la ciencia de datos.

El primer proyecto será una predicción de ventas para productos alimenticios que se venden en distintas tiendas. El objetivo es ayudar a la tienda a comprender las propiedades de los productos y establecimientos que tienen un rol crucial en aumentar las ventas.

Para la parte 2, tu tarea es importar los datos y usar Pandas para comenzar a limpiar y explorar los datos. En la ciencia de datos, pasaremos cerca del 80% de nuestro tiempo preparando los datos, ¡así que este es un paso muy importante! Primero, clona el repositorio GitHub que creaste para alojar tu proyecto, para que puedas asignarle este repositorio a tu trabajo. Ve el video al final de esta tarea si no tienes seguridad de cómo hacerlo.

* Descarga los datos usando este enlace:  descarga los datos. (Nota: Fuente original de los datos)

* Explora los datos: ¿Qué necesitas para limpiar estos datos?
¿Hay valores faltantes en el conjunto de datos? Es posible que algunas tiendas no informen de todos los datos a causa de problemas técnicos u otros problemas. De ser así, trata con ello apropiadamente.
Aquí hay algunos recursos para que consideres maneras más avanzadas para lidiar con valores faltantes en tu conjunto de datos (revisa los recursos Pandas adicionales opcionales al final de este capítulo para más recursos sobre esto):
* [Datos faltantes, sus tiopos y métodos estadísticos para lidiar con ellos](https://blog.usejournal.com/missing-data-its-types-and-statistical-methods-to-deal-with-it-5cf8b71a443f)
* [6 formas diferentes de compensar los valores faltantes en un conjunto de dato](https://towardsdatascience.com/6-different-ways-to-compensate-for-missing-values-data-imputation-with-examples-6022d9ca0779)
[
Valores en un conjunto de datos
* [Tratamiento de datos faltantes: Supuestos y métodos clave para el análisis aplicados](http://www.bu.edu/sph/files/2014/05/Marina-tech-report.pdf)

¿Cuáles son algunos resúmenes estadísticos, información agregada, u otras tendencias que puedes observar en los datos usando Pandas?
Aquí hay un diccionario de datos para este conjunto de datos:

Nombre de la variable	Descripción
* Item_Identifier	Número de identificación único del producto
* Item_Weight	Peso del producto
* Item_Fat_Content	Si el producto es bajo en grasas o regular
* Item_Visibility	El porcentaje de área total de visualización de todos los productos en la tienda asignados a este producto particular
* Item_Type	La categoría a la que pertenece el producto
* Item_MRP	Precio Máximo Minorista (precio de lista) del producto
* Outlet_Identifier	Número de identificación único de la tienda
* Outlet_Establishment_Year	El año en el que se estableció la tienda
* Outlet_Size	El tamaño de la tienda en cuanto a la superficie total que cubre
* Outlet_Location_Type	El tipo de área donde se ubica la tienda
* Outlet_Type	Si la tienda es un almacén o algún tipo de supermercado
* Item_Outlet_Sales	Las ventas del producto en la tienda particular. **Esta es la variable objetivo que se debe predecir.**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd

In [6]:
import numpy as np

In [3]:
sp = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Week 2/PTDataScience/PandasForDataManipulation/sales_predictions.csv')
sp.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [4]:
sp.shape

(8523, 12)

In [5]:
sp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [8]:
sp.describe(include=[object])

       Item_Identifier Item_Fat_Content  ... Outlet_Location_Type        Outlet_Type
count             8523             8523  ...                 8523               8523
unique            1559                5  ...                    3                  4
top              FDW13          Low Fat  ...               Tier 3  Supermarket Type1
freq                10             5089  ...                 3350               5577

[4 rows x 7 columns]

In [9]:
sp.describe(include='all')

       Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
count             8523  7060.000000  ...               8523        8523.000000
unique            1559          NaN  ...                  4                NaN
top              FDW13          NaN  ...  Supermarket Type1                NaN
freq                10          NaN  ...               5577                NaN
mean               NaN    12.857645  ...                NaN        2181.288914
std                NaN     4.643456  ...                NaN        1706.499616
min                NaN     4.555000  ...                NaN          33.290000
25%                NaN     8.773750  ...                NaN         834.247400
50%                NaN    12.600000  ...                NaN        1794.331000
75%                NaN    16.850000  ...                NaN        3101.296400
max                NaN    21.350000  ...                NaN       13086.964800

[11 rows x 12 columns]

In [23]:
columnas = ['Item_Identifier', 'Item_Weight', 'Item_Fat_Content', 'Item_Visibility', 'Item_Type','Outlet_Size', 'Item_MRP', 'Item_Outlet_Sales']
sp = pd.melt(sp, id_vars = columnas)
sp.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resultiing Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  exec(code_obj, self.user_global_ns, self.user_ns)

  Item_Identifier  Item_Weight  ...  variable     value
0           FDA15         9.30  ...  variable  variable
1           DRC01         5.92  ...  variable  variable
2           FDN15        17.50  ...  variable  variable
3           FDX07        19.20  ...  variable  variable
4           NCD19         8.93  ...  variable  variable

[5 rows x 10 columns]